[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
chess = "*"
aiohttp-jinja2 = "*"

[dev-packages]
aiohttp-devtools = "*"
ipython = "*"

[requires]
python_version = "3.10"
